<!-- <section class="property-binding"> -->

  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Soma entre número 1 + 1: {{ 1 + 1 }}</p>
    <p>Resultado de 2 + 32 = {{ 2 + 32 + getValor() }}</p>
    <p>{{ getCurtiCurso() }}</p>
  </article>

  <article>

    <h3>Property Binding</h3>

    <img src="{{ imagem }}" alt="">

    <br>
    <br> -->

    <!-- Property Binding é o nome dado a essa utilização, porque temos uma propriedade
    dessa tag HTML -->
    <!-- <img [src]="imagem" alt=""> -->

    <!-- Equivale ao de cima -->
    <!-- <img bind-src="imagem" alt=""> -->


  <!-- </article> -->

  <!-- <article>

    <h3>Class e Style Binding</h3>

    <div>
      Selecione uma classe: -->
      <!-- #(cerquilha) nomeDaVariavel, para escutarmos a mudança precisamos escutar o -->
      <!-- evento de change (change) e colocamos '0' porque não queremos executar  -->
      <!-- no componente por enquanto. -->
      <!-- </div>
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>

      <br>
      <br> -->

      <!-- Interpolation -->
      <!-- <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div> -->

      <!-- Class binding aplicado a cada uma das div para ficarem coloridas. -->

      <!-- se o valor for alert-success, o Angular aplica a class alert-success que está -->
      <!-- dentro do colchetes -->
      <!-- <div class="alert " role="alert"
        [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div> -->

      <!-- property binding de classe -->
      <!-- <div class="alert " role="alert"
        [class.alert-info]="classe.value == 'alert-info'">
        Info
      </div> -->

      <!-- <div class="alert " role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">
      Alerta
      </div>

      <div class="alert " role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">
        Erro
      </div>

      <div class="alert" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        <p
          [class.alert-danger]="classe.value == 'alert-danger'">
          Esse texto somente aparece em caso de erro.</p>
      </div> -->

      <!-- Style binding -->
      <!-- <div class="alert alert-info" role="alert"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
          Esse texto somente aparece em caso de erro.
      </div>

  </article> -->


<!-- </section> -->

<section class="event-binding">

<article>

  <h3>Event binding</h3>

  <div>

    <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

    <br><br>

    <!-- keyup é quando terminamos de apertar uma tecla do teclado -->
    <input type="text"
      (keyup)="oneKeyUp($event)"
      (keyup.enter)="salvarValor(campoInput.value)"
      (blur)="salvarValor(campoInput.value)"
      #campoInput/>

      <!-- usando a variável 'campoIput' nós conseguimos fazer uma referencia ao campo '$event.target'  que
      é o campo de input-->

      <!-- <p>Valor Atual: {{ valorAtual }}</p> -->

      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>

      <span
         (mouseover)="onMouseOverOut()"
         (mouseout)="onMouseOverOut()"
         [class.highlight]="isMouseOver"
         >
        Passe o mouse sobre mim</span>

  </div>

</article>


</section>
